.content {
    background: #F6F6F6;
    margin: 30px;
    padding: 20px;
}

.content__block {
    margin-bottom: 30px;
}

.content__block__header {
    text-align: center;
    background-color: #C6EAFF;
    padding:10px 0px 10px 0px;
}

.content__block__header h1 {
    font-weight: normal;
    line-height: 38px;
    letter-spacing: 0.2em;
}

.content__block-span {
    background-color: #56BEB2;
    height: 25px;
    display: block;
    z-index: 100;
    position:relative;
}

.content__block__border {
    background-color: #9DDADE;
    padding: 20px;
    bottom: 25px;
    position: relative;
}

.content__block__border__background{
    background:white;
}

.content__block__topic {
    font-size: 25px;
    padding: 30px;
    border-bottom: 2px solid #56BEB2;
    font-weight: bold;
    transition-property: background;
    transition-duration: .5s;
}

.content__block__topic:hover{
    background:#ddfffa;
    transition:.5s;
}

.content__block__border__background a, .content__block__topic p {
    font-family: sans-serif;
    text-decoration:none;
    color:black;
}

.content__block__more {
    text-align: center;
    padding: 15px 0px 10px 0px;
}

.content__block__more img{
    transition-duration: .5s;
}

.content__block__more img:hover{
    filter: saturate(300%);
    transition:.5s;
}

p.number_pages {
    color: #1A3697;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight:bold;
    margin-bottom:50px;
}

.number_pages a {
    text-decoration: none;
    color: #1A3697;
    transition-property:color;
    transition-duration: .4s
}

.number_pages a:hover{
    color:#4b72fb;
    transition:.4s
}

.content__block-button-top{
    background:white;
    margin:-20px;
    padding:30px 0px 30px 0px;
    text-align:center;
}

.content__block-button-top img{
    animation: animated-button-top 1.5s infinite;
    position:relative;
}


@keyframes animated-button-top {
    0% {
        top:0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}