@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Rajdhani', sans-serif;
}

html{
	scroll-behavior: smooth;
}

header {
    background-image: url('../img/logo.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 200px;
    padding: 20px;
}

header:hover{
    animation: animation-header .5s infinite;
}

ul.header__nav {
    margin: 0;
}

ul.header__nav li {
    list-style-type: none;
    display: inline;
    float: right;
    font-size: 23px;
    margin-left: 60px;
}

header ul.header__nav li:first-child {
    float: left;
    margin: 0px;
}

header ul.header__nav li:nth-child(2) {
    margin-right: 10px;
}


header ul.header__nav li a {
    text-decoration: none;
    color: black;
    transition-property:color;
    transition-duration:.4s;
}

ul.header__nav li a:hover {
    color: #959595;
    transition:.2s;
}

nav .nav {
    display: block;
    height: 50px;
    vertical-align: middle;
}

nav .nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 12px 40px 0px 40px;
    float: right;
    color: #090073;
}

nav .nav a:first-child {
    float: left;
    color: #38BEB5;
    margin: 12px 20px 0px 20px;
}

nav .nav a:first-child:hover{
    color:#86efe8;
}

nav .nav__right:hover {
    color: #8684dd;
}

nav .nav__background {
    border-top: 1px solid #0C8990;
    height: 40px;
    background: linear-gradient(90deg, rgba(233, 233, 233, 0.974051) 0%, rgba(255, 255, 255, 0) 100%), #F2F2F2;
    display: block;
}

nav .navigation {
    height: 60px;
    border-bottom: 2px solid #949494;
    text-align: right;
    padding-right: 40px;
    padding-left: 40px;
}

nav .navigation img {
    vertical-align: middle;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transition-property: filter;
	transition-duration: 1s;
    
}

 nav .navigation img:hover{
     filter:none;
     transition:1s;
 }

nav .navigation a.search{
    float:left;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
    
    text-decoration: none;
    outline: none;
    display: inline-block;
    padding: 10px 40px;
    position: relative;
    color: black;
    border: 1px solid rgba(0,0,0,.4);
    transition-property: background;
    transition-duration:1s;
    background: white;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav .navigation a.search:before,
nav .navigation a.search:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    box-sizing: border-box;
}

nav .navigation a.search:before {
    bottom: 0;
    left: 0;
    border-left: 1.5px solid #56BEB2;
    border-top: 1.5px solid #56BEB2;
    transition: 0s ease opacity .8s, .2s ease width .4s, .2s ease height .6s;
}

nav .navigation a.search:after {
    top: 0;
    right: 0;
    border-right: 1.5px solid #56BEB2;
    border-bottom: 1.5px solid #56BEB2;
    transition: 0s ease opacity .4s, .2s ease width, .2s ease height .2s;
}

nav .navigation a.search:hover:before,
nav .navigation a.search:hover:after {
    height: 100%;
    width: 100%;
    opacity: 1;
}

nav .navigation a.search:hover:before {
    transition: 0s ease opacity 0s, .2s ease height, .2s ease width .2s;
}

nav .navigation a.search:hover:after {
    transition: 0s ease opacity .4s, .2s ease height .4s, .2s ease width .6s;
}

nav .navigation a.search:hover {
    background: #f6f6f6;
    transition:1s;
}

nav .nav span a {
    float: left;
    margin-left: 5px;
    margin-right: 5px;
    font-weight: bold;
    color: #38BEB5;
}

nav .nav span a[href]{
    color:#38BEB5;
}

nav .nav span a[href]:hover{
    color:#86efe8;
}


@keyframes animation-header{
    0%{
        background-size:100%;
    }
    50% {
        background-size:105%;
    }
    100% {
        background-size: 100%;
    }
}