.content {
    background: #F6F6F6;
    margin: 30px;
    padding: 20px;
}

.content__block {
    margin-bottom: 30px;
}

.content__block__header {
    text-align: center;
    background-color: #C6EAFF;
    padding: 10px 0px 10px 0px;
}

.content__block__header h1 {
    font-weight: normal;
    line-height: 38px;
    letter-spacing: 0.2em;
}

.content__block-span {
    background-color: #56BEB2;
    height: 25px;
    display: block;
    z-index: 100;
    position: relative;
}

.content__block__border {
    background-color: #9DDADE;
    padding: 20px;
    bottom: 25px;
    position: relative;
}

.content__block__border__background {
    background: white;
    height:1000px;
}

.content__block__topic {
    font-size: 25px;
    padding: 10px;
    border-bottom: 2px solid #56BEB2;
    font-weight: bold;
    transition-duration:.5s;
    transition-property:background;
}

.content__block__topic:hover {
    background:#ddfffa;
    transition:.5s;
}

.author {
    float: right;
    font-size: 15px;
    color: #1A7885;
}
.content__block__topic__star-block {
    float: left;
    display: block;
    margin-right:10px;
}
.content__block__topic__Text {
    float: left;
    display: contents;
}

.content__block__topic__Text p{
    text-decoration:none;
    color:black;
    font-family:sans-serif;
}

.content__block__topic__Text p.themes{
    color:#777777;
    font-size:19px;
}

.content__block__topic__Text p.themes span{font-family:sans-serif}
.content__block__topic__Text p.themes span:nth-child(1){color:#5C35CC}
.content__block__topic__Text p.themes span:nth-child(2){color:#1BB646}
.content__block__topic__Text p.themes span:nth-child(3){color:#2DB1C2}

.content__block__topic__Text p.reply {
    color: #BABABA;
    font-size: 14px;
    float:right;
    margin-top:10px;
}

p.number_pages {
    color: #1A3697;
    font-size: 30px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
}

.number_pages a {
    text-decoration: none;
    color: #1A3697;
    transition-property: color;
    transition-duration: .4s
}

.number_pages a:hover {
    color: #4b72fb;
    transition: .4s
}

.content__block-button-top {
    background: white;
    margin: -20px;
    padding: 30px 0px 30px 0px;
    text-align: center;
}

.content__block-button-top img {
    animation: animated-button-top 1.5s infinite;
    position: relative;
}


@keyframes animated-button-top {
    0% {
        top: 0px;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}